<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ site.baseurl }}/">Blog</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/projects">Projects</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/about">About Me</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/email">Email</a>
                </li>
                <li>
                    <a href="https://drive.google.com/file/d/1A_dr_46ZMuNvXkhNOjy0XfF-0inyKKj4/view" target="_blank">Resume</a>
                </li>
                <li>
                    <a href="https://github.com/jpier2012" target="_blank">Github</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/james-pier-3030/" target="_blank">LinkedIn</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
